@charset "UTF-8";
/*
build: v1.18.0
design-tokens: v1.18.0
*/

@layer ds.theme.size-mode {
:root /* small */ {
  --ds-size-mode-font-size--sm: 1;
}
}

@layer ds.theme.size-mode {
:root /* medium */ {
  --ds-size-mode-font-size--md: 1.125;
}
}

@layer ds.theme.size-mode {
:root /* large */ {
  --ds-size-mode-font-size--lg: 1.3125;
}
}

@layer ds.theme.size-mode {
:root, [data-size] {
  --ds-size: var(--ds-size--md);
  --ds-size--sm: var(--ds-size,);
  --ds-size--md: var(--ds-size,);
  --ds-size--lg: var(--ds-size,);
  --ds-size-mode-font-size:
    var(--ds-size--sm, var(--ds-size-mode-font-size--sm))
    var(--ds-size--md, var(--ds-size-mode-font-size--md))
    var(--ds-size--lg, var(--ds-size-mode-font-size--lg));
}

[data-size='sm'] { --ds-size: var(--ds-size--sm); }
[data-size='md'] { --ds-size: var(--ds-size--md); }
[data-size='lg'] { --ds-size: var(--ds-size--lg); }
}

@layer ds.theme.type-scale {
:root, [data-size] {
  --_ds-font-size-factor: calc(var(--ds-size-mode-font-size) / (var(--ds-size-base) / 16));
  --ds-font-size-1: calc(0.75rem * var(--_ds-font-size-factor));
  --ds-font-size-2: calc(0.875rem * var(--_ds-font-size-factor));
  --ds-font-size-3: calc(1rem * var(--_ds-font-size-factor));
  --ds-font-size-4: calc(1.125rem * var(--_ds-font-size-factor));
  --ds-font-size-5: calc(1.3125rem * var(--_ds-font-size-factor));
  --ds-font-size-6: calc(1.5rem * var(--_ds-font-size-factor));
  --ds-font-size-7: calc(1.875rem * var(--_ds-font-size-factor));
  --ds-font-size-8: calc(2.25rem * var(--_ds-font-size-factor));
  --ds-font-size-9: calc(3rem * var(--_ds-font-size-factor));
  --ds-font-size-10: calc(3.75rem * var(--_ds-font-size-factor));
  --ds-heading-2xl-font-size: var(--ds-font-size-10);
  --ds-heading-xl-font-size: var(--ds-font-size-9);
  --ds-heading-lg-font-size: var(--ds-font-size-8);
  --ds-heading-md-font-size: var(--ds-font-size-7);
  --ds-heading-sm-font-size: var(--ds-font-size-6);
  --ds-heading-xs-font-size: var(--ds-font-size-5);
  --ds-heading-2xs-font-size: var(--ds-font-size-4);
  --ds-body-xl-font-size: var(--ds-font-size-6);
  --ds-body-lg-font-size: var(--ds-font-size-5);
  --ds-body-md-font-size: var(--ds-font-size-4);
  --ds-body-sm-font-size: var(--ds-font-size-3);
  --ds-body-xs-font-size: var(--ds-font-size-2);
  --ds-body-short-xl-font-size: var(--ds-font-size-6);
  --ds-body-short-lg-font-size: var(--ds-font-size-5);
  --ds-body-short-md-font-size: var(--ds-font-size-4);
  --ds-body-short-sm-font-size: var(--ds-font-size-3);
  --ds-body-short-xs-font-size: var(--ds-font-size-2);
  --ds-body-long-xl-font-size: var(--ds-font-size-6);
  --ds-body-long-lg-font-size: var(--ds-font-size-5);
  --ds-body-long-md-font-size: var(--ds-font-size-4);
  --ds-body-long-sm-font-size: var(--ds-font-size-3);
  --ds-body-long-xs-font-size: var(--ds-font-size-2);

  @supports (width: round(down, .1em, 1px)) {
    --ds-font-size-1: round(calc(0.75rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-2: round(calc(0.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-3: round(calc(1rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-4: round(calc(1.125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-5: round(calc(1.3125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-6: round(calc(1.5rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-7: round(calc(1.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-8: round(calc(2.25rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-9: round(calc(3rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-10: round(calc(3.75rem * var(--_ds-font-size-factor)), 1px);
  }
}
}
@layer ds.theme.color-scheme.light {
:root, [data-color-scheme="light"] {
  --ds-color-primary-background-default: #ffffff;
  --ds-color-primary-background-tinted: #f0f4f6;
  --ds-color-primary-surface-default: #ffffff;
  --ds-color-primary-surface-tinted: #e2eaee;
  --ds-color-primary-surface-hover: #cfdce2;
  --ds-color-primary-surface-active: #bacdd6;
  --ds-color-primary-border-subtle: #a7c0cb;
  --ds-color-primary-border-default: #4e7f95;
  --ds-color-primary-border-strong: #28647f;
  --ds-color-primary-text-subtle: #28647f;
  --ds-color-primary-text-default: #002f44;
  --ds-color-primary-base-default: #004767;
  --ds-color-primary-base-hover: #1c5b78;
  --ds-color-primary-base-active: #376f88;
  --ds-color-primary-base-contrast-subtle: #d3dfe5;
  --ds-color-primary-base-contrast-default: #ffffff;
  --ds-color-accent-background-default: #ffffff;
  --ds-color-accent-background-tinted: #fbf1f2;
  --ds-color-accent-surface-default: #ffffff;
  --ds-color-accent-surface-tinted: #f6e4e6;
  --ds-color-accent-surface-hover: #f1d3d5;
  --ds-color-accent-surface-active: #eac0c3;
  --ds-color-accent-border-subtle: #e5aeb2;
  --ds-color-accent-border-default: #c7525c;
  --ds-color-accent-border-strong: #b61e2b;
  --ds-color-accent-text-subtle: #b61e2b;
  --ds-color-accent-text-default: #5d050c;
  --ds-color-accent-base-default: #af0917;
  --ds-color-accent-base-hover: #8c0712;
  --ds-color-accent-base-active: #6a050e;
  --ds-color-accent-base-contrast-subtle: #fbf3f4;
  --ds-color-accent-base-contrast-default: #ffffff;
  --ds-color-neutral-background-default: #ffffff;
  --ds-color-neutral-background-tinted: #f3f3f4;
  --ds-color-neutral-surface-default: #ffffff;
  --ds-color-neutral-surface-tinted: #e8e8e9;
  --ds-color-neutral-surface-hover: #d9dadb;
  --ds-color-neutral-surface-active: #c9cacc;
  --ds-color-neutral-border-subtle: #babcbe;
  --ds-color-neutral-border-default: #75797d;
  --ds-color-neutral-border-strong: #595e63;
  --ds-color-neutral-text-subtle: #595e63;
  --ds-color-neutral-text-default: #272c30;
  --ds-color-neutral-base-default: #343a40;
  --ds-color-neutral-base-hover: #464c51;
  --ds-color-neutral-base-active: #5a5f64;
  --ds-color-neutral-base-contrast-subtle: #d1d2d4;
  --ds-color-neutral-base-contrast-default: #ffffff;
  --ds-color-mandarin-background-default: #ffffff;
  --ds-color-mandarin-background-tinted: #fdf2e1;
  --ds-color-mandarin-surface-default: #ffffff;
  --ds-color-mandarin-surface-tinted: #fce6c3;
  --ds-color-mandarin-surface-hover: #fad59a;
  --ds-color-mandarin-surface-active: #f7c16b;
  --ds-color-mandarin-border-subtle: #f5ae3e;
  --ds-color-mandarin-border-default: #ac6900;
  --ds-color-mandarin-border-strong: #855200;
  --ds-color-mandarin-text-subtle: #855200;
  --ds-color-mandarin-text-default: #3f2600;
  --ds-color-mandarin-base-default: #f29400;
  --ds-color-mandarin-base-hover: #d58200;
  --ds-color-mandarin-base-active: #b77000;
  --ds-color-mandarin-base-contrast-subtle: #261700;
  --ds-color-mandarin-base-contrast-default: #000000;
  --ds-color-info-background-default: #ffffff;
  --ds-color-info-background-tinted: #e9f6f8;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #d3edf2;
  --ds-color-info-surface-hover: #b6e2e9;
  --ds-color-info-surface-active: #95d4df;
  --ds-color-info-border-subtle: #76c8d5;
  --ds-color-info-border-default: #138597;
  --ds-color-info-border-strong: #0f6775;
  --ds-color-info-text-subtle: #0f6775;
  --ds-color-info-text-default: #073037;
  --ds-color-info-base-default: #17a2b8;
  --ds-color-info-base-hover: #4cb7c8;
  --ds-color-info-base-active: #7ecbd7;
  --ds-color-info-base-contrast-subtle: #010505;
  --ds-color-info-base-contrast-default: #000000;
  --ds-color-success-background-default: #ffffff;
  --ds-color-success-background-tinted: #ebf7ed;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #d7eedc;
  --ds-color-success-surface-hover: #bce4c5;
  --ds-color-success-surface-active: #9ed7ab;
  --ds-color-success-border-subtle: #82cc93;
  --ds-color-success-border-default: #218b39;
  --ds-color-success-border-strong: #1a6b2c;
  --ds-color-success-text-subtle: #1a6b2c;
  --ds-color-success-text-default: #0c3215;
  --ds-color-success-base-default: #28a745;
  --ds-color-success-base-hover: #58bb6f;
  --ds-color-success-base-active: #83cc94;
  --ds-color-success-base-contrast-subtle: #000101;
  --ds-color-success-base-contrast-default: #000000;
  --ds-color-warning-background-default: #ffffff;
  --ds-color-warning-background-tinted: #fff3d0;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #ffe79f;
  --ds-color-warning-surface-hover: #ffd65a;
  --ds-color-warning-surface-active: #fec007;
  --ds-color-warning-border-subtle: #ecb306;
  --ds-color-warning-border-default: #987304;
  --ds-color-warning-border-strong: #765903;
  --ds-color-warning-text-subtle: #765903;
  --ds-color-warning-text-default: #372a02;
  --ds-color-warning-base-default: #ffc107;
  --ds-color-warning-base-hover: #e4ad06;
  --ds-color-warning-base-active: #c89805;
  --ds-color-warning-base-contrast-subtle: #423202;
  --ds-color-warning-base-contrast-default: #000000;
  --ds-color-danger-background-default: #ffffff;
  --ds-color-danger-background-tinted: #fdf1f2;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #fae3e5;
  --ds-color-danger-surface-hover: #f7d1d4;
  --ds-color-danger-surface-active: #f3bcc1;
  --ds-color-danger-border-subtle: #f0a9b0;
  --ds-color-danger-border-default: #dd3b4a;
  --ds-color-danger-border-strong: #af2a37;
  --ds-color-danger-text-subtle: #af2a37;
  --ds-color-danger-text-default: #54141a;
  --ds-color-danger-base-default: #dc3545;
  --ds-color-danger-base-hover: #e3606c;
  --ds-color-danger-base-active: #e9828c;
  --ds-color-danger-base-contrast-subtle: #000000;
  --ds-color-danger-base-contrast-default: #000000;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #272c30;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}
 
@media (prefers-color-scheme: light) {
  [data-color-scheme="auto"] {
  --ds-color-primary-background-default: #ffffff;
  --ds-color-primary-background-tinted: #f0f4f6;
  --ds-color-primary-surface-default: #ffffff;
  --ds-color-primary-surface-tinted: #e2eaee;
  --ds-color-primary-surface-hover: #cfdce2;
  --ds-color-primary-surface-active: #bacdd6;
  --ds-color-primary-border-subtle: #a7c0cb;
  --ds-color-primary-border-default: #4e7f95;
  --ds-color-primary-border-strong: #28647f;
  --ds-color-primary-text-subtle: #28647f;
  --ds-color-primary-text-default: #002f44;
  --ds-color-primary-base-default: #004767;
  --ds-color-primary-base-hover: #1c5b78;
  --ds-color-primary-base-active: #376f88;
  --ds-color-primary-base-contrast-subtle: #d3dfe5;
  --ds-color-primary-base-contrast-default: #ffffff;
  --ds-color-accent-background-default: #ffffff;
  --ds-color-accent-background-tinted: #fbf1f2;
  --ds-color-accent-surface-default: #ffffff;
  --ds-color-accent-surface-tinted: #f6e4e6;
  --ds-color-accent-surface-hover: #f1d3d5;
  --ds-color-accent-surface-active: #eac0c3;
  --ds-color-accent-border-subtle: #e5aeb2;
  --ds-color-accent-border-default: #c7525c;
  --ds-color-accent-border-strong: #b61e2b;
  --ds-color-accent-text-subtle: #b61e2b;
  --ds-color-accent-text-default: #5d050c;
  --ds-color-accent-base-default: #af0917;
  --ds-color-accent-base-hover: #8c0712;
  --ds-color-accent-base-active: #6a050e;
  --ds-color-accent-base-contrast-subtle: #fbf3f4;
  --ds-color-accent-base-contrast-default: #ffffff;
  --ds-color-neutral-background-default: #ffffff;
  --ds-color-neutral-background-tinted: #f3f3f4;
  --ds-color-neutral-surface-default: #ffffff;
  --ds-color-neutral-surface-tinted: #e8e8e9;
  --ds-color-neutral-surface-hover: #d9dadb;
  --ds-color-neutral-surface-active: #c9cacc;
  --ds-color-neutral-border-subtle: #babcbe;
  --ds-color-neutral-border-default: #75797d;
  --ds-color-neutral-border-strong: #595e63;
  --ds-color-neutral-text-subtle: #595e63;
  --ds-color-neutral-text-default: #272c30;
  --ds-color-neutral-base-default: #343a40;
  --ds-color-neutral-base-hover: #464c51;
  --ds-color-neutral-base-active: #5a5f64;
  --ds-color-neutral-base-contrast-subtle: #d1d2d4;
  --ds-color-neutral-base-contrast-default: #ffffff;
  --ds-color-mandarin-background-default: #ffffff;
  --ds-color-mandarin-background-tinted: #fdf2e1;
  --ds-color-mandarin-surface-default: #ffffff;
  --ds-color-mandarin-surface-tinted: #fce6c3;
  --ds-color-mandarin-surface-hover: #fad59a;
  --ds-color-mandarin-surface-active: #f7c16b;
  --ds-color-mandarin-border-subtle: #f5ae3e;
  --ds-color-mandarin-border-default: #ac6900;
  --ds-color-mandarin-border-strong: #855200;
  --ds-color-mandarin-text-subtle: #855200;
  --ds-color-mandarin-text-default: #3f2600;
  --ds-color-mandarin-base-default: #f29400;
  --ds-color-mandarin-base-hover: #d58200;
  --ds-color-mandarin-base-active: #b77000;
  --ds-color-mandarin-base-contrast-subtle: #261700;
  --ds-color-mandarin-base-contrast-default: #000000;
  --ds-color-info-background-default: #ffffff;
  --ds-color-info-background-tinted: #e9f6f8;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #d3edf2;
  --ds-color-info-surface-hover: #b6e2e9;
  --ds-color-info-surface-active: #95d4df;
  --ds-color-info-border-subtle: #76c8d5;
  --ds-color-info-border-default: #138597;
  --ds-color-info-border-strong: #0f6775;
  --ds-color-info-text-subtle: #0f6775;
  --ds-color-info-text-default: #073037;
  --ds-color-info-base-default: #17a2b8;
  --ds-color-info-base-hover: #4cb7c8;
  --ds-color-info-base-active: #7ecbd7;
  --ds-color-info-base-contrast-subtle: #010505;
  --ds-color-info-base-contrast-default: #000000;
  --ds-color-success-background-default: #ffffff;
  --ds-color-success-background-tinted: #ebf7ed;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #d7eedc;
  --ds-color-success-surface-hover: #bce4c5;
  --ds-color-success-surface-active: #9ed7ab;
  --ds-color-success-border-subtle: #82cc93;
  --ds-color-success-border-default: #218b39;
  --ds-color-success-border-strong: #1a6b2c;
  --ds-color-success-text-subtle: #1a6b2c;
  --ds-color-success-text-default: #0c3215;
  --ds-color-success-base-default: #28a745;
  --ds-color-success-base-hover: #58bb6f;
  --ds-color-success-base-active: #83cc94;
  --ds-color-success-base-contrast-subtle: #000101;
  --ds-color-success-base-contrast-default: #000000;
  --ds-color-warning-background-default: #ffffff;
  --ds-color-warning-background-tinted: #fff3d0;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #ffe79f;
  --ds-color-warning-surface-hover: #ffd65a;
  --ds-color-warning-surface-active: #fec007;
  --ds-color-warning-border-subtle: #ecb306;
  --ds-color-warning-border-default: #987304;
  --ds-color-warning-border-strong: #765903;
  --ds-color-warning-text-subtle: #765903;
  --ds-color-warning-text-default: #372a02;
  --ds-color-warning-base-default: #ffc107;
  --ds-color-warning-base-hover: #e4ad06;
  --ds-color-warning-base-active: #c89805;
  --ds-color-warning-base-contrast-subtle: #423202;
  --ds-color-warning-base-contrast-default: #000000;
  --ds-color-danger-background-default: #ffffff;
  --ds-color-danger-background-tinted: #fdf1f2;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #fae3e5;
  --ds-color-danger-surface-hover: #f7d1d4;
  --ds-color-danger-surface-active: #f3bcc1;
  --ds-color-danger-border-subtle: #f0a9b0;
  --ds-color-danger-border-default: #dd3b4a;
  --ds-color-danger-border-strong: #af2a37;
  --ds-color-danger-text-subtle: #af2a37;
  --ds-color-danger-text-default: #54141a;
  --ds-color-danger-base-default: #dc3545;
  --ds-color-danger-base-hover: #e3606c;
  --ds-color-danger-base-active: #e9828c;
  --ds-color-danger-base-contrast-subtle: #000000;
  --ds-color-danger-base-contrast-default: #000000;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #272c30;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}

}

}

@layer ds.theme.typography.secondary {
[data-typography="secondary"] {
  --ds-line-height-sm: 1.3;
  --ds-line-height-md: 1.5;
  --ds-line-height-lg: 1.7;
  --ds-letter-spacing-1: -0.01em;
  --ds-letter-spacing-2: -0.005em;
  --ds-letter-spacing-3: -0.0025em;
  --ds-letter-spacing-4: -0.0015em;
  --ds-letter-spacing-5: 0em;
  --ds-letter-spacing-6: 0.0015em;
  --ds-letter-spacing-7: 0.0025em;
  --ds-letter-spacing-8: 0.005em;
  --ds-letter-spacing-9: 0.015em;
  --ds-font-family: Inter;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-regular: 400;
  --ds-heading-2xl-font-weight: 500;
  --ds-heading-2xl-line-height: 1.3;
  --ds-heading-2xl-letter-spacing: -0.01em;
  --ds-heading-xl-font-weight: 500;
  --ds-heading-xl-line-height: 1.3;
  --ds-heading-xl-letter-spacing: -0.01em;
  --ds-heading-lg-font-weight: 500;
  --ds-heading-lg-line-height: 1.3;
  --ds-heading-lg-letter-spacing: -0.005em;
  --ds-heading-md-font-weight: 500;
  --ds-heading-md-line-height: 1.3;
  --ds-heading-md-letter-spacing: -0.0025em;
  --ds-heading-sm-font-weight: 500;
  --ds-heading-sm-line-height: 1.3;
  --ds-heading-sm-letter-spacing: 0em;
  --ds-heading-xs-font-weight: 500;
  --ds-heading-xs-line-height: 1.3;
  --ds-heading-xs-letter-spacing: 0.0015em;
  --ds-heading-2xs-font-weight: 500;
  --ds-heading-2xs-line-height: 1.3;
  --ds-heading-2xs-letter-spacing: 0.0015em;
  --ds-body-xl-font-weight: 400;
  --ds-body-xl-line-height: 1.5;
  --ds-body-xl-letter-spacing: 0.005em;
  --ds-body-lg-font-weight: 400;
  --ds-body-lg-line-height: 1.5;
  --ds-body-lg-letter-spacing: 0.005em;
  --ds-body-md-font-weight: 400;
  --ds-body-md-line-height: 1.5;
  --ds-body-md-letter-spacing: 0.005em;
  --ds-body-sm-font-weight: 400;
  --ds-body-sm-line-height: 1.5;
  --ds-body-sm-letter-spacing: 0.0025em;
  --ds-body-xs-font-weight: 400;
  --ds-body-xs-line-height: 1.5;
  --ds-body-xs-letter-spacing: 0.0015em;
  --ds-body-short-xl-font-weight: 400;
  --ds-body-short-xl-line-height: 1.3;
  --ds-body-short-xl-letter-spacing: 0.005em;
  --ds-body-short-lg-font-weight: 400;
  --ds-body-short-lg-line-height: 1.3;
  --ds-body-short-lg-letter-spacing: 0.005em;
  --ds-body-short-md-font-weight: 400;
  --ds-body-short-md-line-height: 1.3;
  --ds-body-short-md-letter-spacing: 0.005em;
  --ds-body-short-sm-font-weight: 400;
  --ds-body-short-sm-line-height: 1.3;
  --ds-body-short-sm-letter-spacing: 0.0025em;
  --ds-body-short-xs-font-weight: 400;
  --ds-body-short-xs-line-height: 1.3;
  --ds-body-short-xs-letter-spacing: 0.0015em;
  --ds-body-long-xl-font-weight: 400;
  --ds-body-long-xl-line-height: 1.7;
  --ds-body-long-xl-letter-spacing: 0.005em;
  --ds-body-long-lg-font-weight: 400;
  --ds-body-long-lg-line-height: 1.7;
  --ds-body-long-lg-letter-spacing: 0.005em;
  --ds-body-long-md-font-weight: 400;
  --ds-body-long-md-line-height: 1.7;
  --ds-body-long-md-letter-spacing: 0.005em;
  --ds-body-long-sm-font-weight: 400;
  --ds-body-long-sm-line-height: 1.7;
  --ds-body-long-sm-letter-spacing: 0.0025em;
  --ds-body-long-xs-font-weight: 400;
  --ds-body-long-xs-line-height: 1.7;
  --ds-body-long-xs-letter-spacing: 0.0015em;
}
}
@layer ds.theme.size {
:root, [data-size] {
  --ds-size-base: 18;
  --ds-size-step: 4;

  --ds-size-0: calc(var(--ds-size-unit) * 0);
  --ds-size-1: calc(var(--ds-size-unit) * 1);
  --ds-size-2: calc(var(--ds-size-unit) * 2);
  --ds-size-3: calc(var(--ds-size-unit) * 3);
  --ds-size-4: calc(var(--ds-size-unit) * 4);
  --ds-size-5: calc(var(--ds-size-unit) * 5);
  --ds-size-6: calc(var(--ds-size-unit) * 6);
  --ds-size-7: calc(var(--ds-size-unit) * 7);
  --ds-size-8: calc(var(--ds-size-unit) * 8);
  --ds-size-9: calc(var(--ds-size-unit) * 9);
  --ds-size-10: calc(var(--ds-size-unit) * 10);
  --ds-size-11: calc(var(--ds-size-unit) * 11);
  --ds-size-12: calc(var(--ds-size-unit) * 12);
  --ds-size-13: calc(var(--ds-size-unit) * 13);
  --ds-size-14: calc(var(--ds-size-unit) * 14);
  --ds-size-15: calc(var(--ds-size-unit) * 15);
  --ds-size-18: calc(var(--ds-size-unit) * 18);
  --ds-size-22: calc(var(--ds-size-unit) * 22);
  --ds-size-26: calc(var(--ds-size-unit) * 26);
  --ds-size-30: calc(var(--ds-size-unit) * 30);
  --ds-size-unit: calc(1rem * var(--ds-size-step) / var(--ds-size-base) * var(--ds-size-mode-font-size));

  @supports (width: round(down, .1em, 1px)) {
    --ds-size-0: round(down, calc(var(--ds-size-unit) * 0), 1px);
    --ds-size-1: round(down, calc(var(--ds-size-unit) * 1), 1px);
    --ds-size-2: round(down, calc(var(--ds-size-unit) * 2), 1px);
    --ds-size-3: round(down, calc(var(--ds-size-unit) * 3), 1px);
    --ds-size-4: round(down, calc(var(--ds-size-unit) * 4), 1px);
    --ds-size-5: round(down, calc(var(--ds-size-unit) * 5), 1px);
    --ds-size-6: round(down, calc(var(--ds-size-unit) * 6), 1px);
    --ds-size-7: round(down, calc(var(--ds-size-unit) * 7), 1px);
    --ds-size-8: round(down, calc(var(--ds-size-unit) * 8), 1px);
    --ds-size-9: round(down, calc(var(--ds-size-unit) * 9), 1px);
    --ds-size-10: round(down, calc(var(--ds-size-unit) * 10), 1px);
    --ds-size-11: round(down, calc(var(--ds-size-unit) * 11), 1px);
    --ds-size-12: round(down, calc(var(--ds-size-unit) * 12), 1px);
    --ds-size-13: round(down, calc(var(--ds-size-unit) * 13), 1px);
    --ds-size-14: round(down, calc(var(--ds-size-unit) * 14), 1px);
    --ds-size-15: round(down, calc(var(--ds-size-unit) * 15), 1px);
    --ds-size-18: round(down, calc(var(--ds-size-unit) * 18), 1px);
    --ds-size-22: round(down, calc(var(--ds-size-unit) * 22), 1px);
    --ds-size-26: round(down, calc(var(--ds-size-unit) * 26), 1px);
    --ds-size-30: round(down, calc(var(--ds-size-unit) * 30), 1px);
  }
}

}

@layer ds.theme.semantic {
:root {
  --ds-border-radius-base: 0.25rem;
  --ds-border-radius-scale: 0.25rem;
  --ds-border-radius-sm: min(var(--ds-border-radius-base)*0.5,var(--ds-border-radius-scale));
  --ds-border-radius-md: min(var(--ds-border-radius-base),var(--ds-border-radius-scale)*2);
  --ds-border-radius-lg: min(var(--ds-border-radius-base)*2,var(--ds-border-radius-scale)*5);
  --ds-border-radius-xl: min(var(--ds-border-radius-base)*3,var(--ds-border-radius-scale)*7);
  --ds-border-radius-default: var(--ds-border-radius-base);
  --ds-border-radius-full: 624.9375rem;
  --ds-border-width-default: 1px;
  --ds-border-width-focus: 3px;
  --ds-shadow-xs: 0 0 1px 0 rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.12);
  --ds-shadow-sm: 0 0 1px 0 rgba(0,0,0,0.15), 0 1px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.1);
  --ds-shadow-md: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.12);
  --ds-shadow-lg: 0 0 1px 0 rgba(0,0,0,0.13), 0 3px 5px 0 rgba(0,0,0,0.13), 0 6px 12px 0 rgba(0,0,0,0.14);
  --ds-shadow-xl: 0 0 1px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.16), 0 12px 24px 0 rgba(0,0,0,0.16);
  --ds-opacity-disabled: 30%;
}

}

@layer ds.theme.color-scheme.dark {
[data-color-scheme="dark"] {
  --ds-color-primary-background-default: #0c1921;
  --ds-color-primary-background-tinted: #0f212c;
  --ds-color-primary-surface-default: #132a38;
  --ds-color-primary-surface-tinted: #163140;
  --ds-color-primary-surface-hover: #1a394a;
  --ds-color-primary-surface-active: #21475d;
  --ds-color-primary-border-subtle: #315468;
  --ds-color-primary-border-default: #6c8593;
  --ds-color-primary-border-strong: #99aab4;
  --ds-color-primary-text-subtle: #99aab4;
  --ds-color-primary-text-default: #e9edef;
  --ds-color-primary-base-default: #91b0be;
  --ds-color-primary-base-hover: #759cad;
  --ds-color-primary-base-active: #59879c;
  --ds-color-primary-base-contrast-subtle: #181d1f;
  --ds-color-primary-base-contrast-default: #000000;
  --ds-color-accent-background-default: #2b0f0e;
  --ds-color-accent-background-tinted: #381412;
  --ds-color-accent-surface-default: #471917;
  --ds-color-accent-surface-tinted: #511d1a;
  --ds-color-accent-surface-hover: #5e221f;
  --ds-color-accent-surface-active: #752a26;
  --ds-color-accent-border-subtle: #8c322d;
  --ds-color-accent-border-default: #b66e6a;
  --ds-color-accent-border-strong: #cd9c99;
  --ds-color-accent-text-subtle: #cd9c99;
  --ds-color-accent-text-default: #f4eae9;
  --ds-color-accent-base-default: #d68188;
  --ds-color-accent-base-hover: #df9ea4;
  --ds-color-accent-base-active: #e8b8bc;
  --ds-color-accent-base-contrast-subtle: #10090a;
  --ds-color-accent-base-contrast-default: #000000;
  --ds-color-neutral-background-default: #16181a;
  --ds-color-neutral-background-tinted: #1e2022;
  --ds-color-neutral-surface-default: #25282b;
  --ds-color-neutral-surface-tinted: #2b2e31;
  --ds-color-neutral-surface-hover: #32363a;
  --ds-color-neutral-surface-active: #404347;
  --ds-color-neutral-border-subtle: #4d5054;
  --ds-color-neutral-border-default: #7f8184;
  --ds-color-neutral-border-strong: #a6a8aa;
  --ds-color-neutral-text-subtle: #a6a8aa;
  --ds-color-neutral-text-default: #ececed;
  --ds-color-neutral-base-default: #a9abae;
  --ds-color-neutral-base-hover: #93969a;
  --ds-color-neutral-base-active: #7e8285;
  --ds-color-neutral-base-contrast-subtle: #1b1b1c;
  --ds-color-neutral-base-contrast-default: #000000;
  --ds-color-mandarin-background-default: #1f160c;
  --ds-color-mandarin-background-tinted: #291d10;
  --ds-color-mandarin-surface-default: #342515;
  --ds-color-mandarin-surface-tinted: #3c2a18;
  --ds-color-mandarin-surface-hover: #46311b;
  --ds-color-mandarin-surface-active: #573e22;
  --ds-color-mandarin-border-subtle: #684a29;
  --ds-color-mandarin-border-default: #a87742;
  --ds-color-mandarin-border-strong: #da9b56;
  --ds-color-mandarin-text-subtle: #da9b56;
  --ds-color-mandarin-text-default: #f8eadb;
  --ds-color-mandarin-base-default: #673f00;
  --ds-color-mandarin-base-hover: #4e3000;
  --ds-color-mandarin-base-active: #362100;
  --ds-color-mandarin-base-contrast-subtle: #e9e3da;
  --ds-color-mandarin-base-contrast-default: #ffffff;
  --ds-color-info-background-default: #0e1a1c;
  --ds-color-info-background-tinted: #122225;
  --ds-color-info-surface-default: #172b2f;
  --ds-color-info-surface-tinted: #1a3136;
  --ds-color-info-surface-hover: #1e393f;
  --ds-color-info-surface-active: #26484f;
  --ds-color-info-border-subtle: #2d565e;
  --ds-color-info-border-default: #498a98;
  --ds-color-info-border-strong: #76b1bd;
  --ds-color-info-text-subtle: #76b1bd;
  --ds-color-info-text-default: #e2eff1;
  --ds-color-info-base-default: #0e6472;
  --ds-color-info-base-hover: #0b4f5a;
  --ds-color-info-base-active: #083c44;
  --ds-color-info-base-contrast-subtle: #f9fbfc;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-success-background-default: #0e1b10;
  --ds-color-success-background-tinted: #132315;
  --ds-color-success-surface-default: #182c1a;
  --ds-color-success-surface-tinted: #1b331e;
  --ds-color-success-surface-hover: #203b23;
  --ds-color-success-surface-active: #284b2c;
  --ds-color-success-border-subtle: #2f5934;
  --ds-color-success-border-default: #4c9054;
  --ds-color-success-border-strong: #7bb582;
  --ds-color-success-text-subtle: #7bb582;
  --ds-color-success-text-default: #e3efe5;
  --ds-color-success-base-default: #1a6b2c;
  --ds-color-success-base-hover: #145523;
  --ds-color-success-base-active: #10411b;
  --ds-color-success-base-contrast-subtle: #fcfdfd;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #1c170c;
  --ds-color-warning-background-tinted: #251f10;
  --ds-color-warning-surface-default: #2f2715;
  --ds-color-warning-surface-tinted: #362d18;
  --ds-color-warning-surface-hover: #3f341c;
  --ds-color-warning-surface-active: #4f4123;
  --ds-color-warning-border-subtle: #5e4e2a;
  --ds-color-warning-border-default: #987e43;
  --ds-color-warning-border-strong: #c6a357;
  --ds-color-warning-text-subtle: #c6a357;
  --ds-color-warning-text-default: #faebcb;
  --ds-color-warning-base-default: #392b02;
  --ds-color-warning-base-hover: #503c02;
  --ds-color-warning-base-active: #664d03;
  --ds-color-warning-base-contrast-subtle: #c6c2b6;
  --ds-color-warning-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #281112;
  --ds-color-danger-background-tinted: #341717;
  --ds-color-danger-surface-default: #421d1d;
  --ds-color-danger-surface-tinted: #4b2122;
  --ds-color-danger-surface-hover: #572627;
  --ds-color-danger-surface-active: #6d3031;
  --ds-color-danger-border-subtle: #82393a;
  --ds-color-danger-border-default: #c86264;
  --ds-color-danger-border-strong: #da9697;
  --ds-color-danger-text-subtle: #da9697;
  --ds-color-danger-text-default: #f7e9e9;
  --ds-color-danger-base-default: #dd3949;
  --ds-color-danger-base-hover: #e4626e;
  --ds-color-danger-base-active: #ea838d;
  --ds-color-danger-base-contrast-subtle: #050102;
  --ds-color-danger-base-contrast-default: #000000;
  --ds-color-focus-inner: #16181a;
  --ds-color-focus-outer: #ececed;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}
 
@media (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] {
  --ds-color-primary-background-default: #0c1921;
  --ds-color-primary-background-tinted: #0f212c;
  --ds-color-primary-surface-default: #132a38;
  --ds-color-primary-surface-tinted: #163140;
  --ds-color-primary-surface-hover: #1a394a;
  --ds-color-primary-surface-active: #21475d;
  --ds-color-primary-border-subtle: #315468;
  --ds-color-primary-border-default: #6c8593;
  --ds-color-primary-border-strong: #99aab4;
  --ds-color-primary-text-subtle: #99aab4;
  --ds-color-primary-text-default: #e9edef;
  --ds-color-primary-base-default: #91b0be;
  --ds-color-primary-base-hover: #759cad;
  --ds-color-primary-base-active: #59879c;
  --ds-color-primary-base-contrast-subtle: #181d1f;
  --ds-color-primary-base-contrast-default: #000000;
  --ds-color-accent-background-default: #2b0f0e;
  --ds-color-accent-background-tinted: #381412;
  --ds-color-accent-surface-default: #471917;
  --ds-color-accent-surface-tinted: #511d1a;
  --ds-color-accent-surface-hover: #5e221f;
  --ds-color-accent-surface-active: #752a26;
  --ds-color-accent-border-subtle: #8c322d;
  --ds-color-accent-border-default: #b66e6a;
  --ds-color-accent-border-strong: #cd9c99;
  --ds-color-accent-text-subtle: #cd9c99;
  --ds-color-accent-text-default: #f4eae9;
  --ds-color-accent-base-default: #d68188;
  --ds-color-accent-base-hover: #df9ea4;
  --ds-color-accent-base-active: #e8b8bc;
  --ds-color-accent-base-contrast-subtle: #10090a;
  --ds-color-accent-base-contrast-default: #000000;
  --ds-color-neutral-background-default: #16181a;
  --ds-color-neutral-background-tinted: #1e2022;
  --ds-color-neutral-surface-default: #25282b;
  --ds-color-neutral-surface-tinted: #2b2e31;
  --ds-color-neutral-surface-hover: #32363a;
  --ds-color-neutral-surface-active: #404347;
  --ds-color-neutral-border-subtle: #4d5054;
  --ds-color-neutral-border-default: #7f8184;
  --ds-color-neutral-border-strong: #a6a8aa;
  --ds-color-neutral-text-subtle: #a6a8aa;
  --ds-color-neutral-text-default: #ececed;
  --ds-color-neutral-base-default: #a9abae;
  --ds-color-neutral-base-hover: #93969a;
  --ds-color-neutral-base-active: #7e8285;
  --ds-color-neutral-base-contrast-subtle: #1b1b1c;
  --ds-color-neutral-base-contrast-default: #000000;
  --ds-color-mandarin-background-default: #1f160c;
  --ds-color-mandarin-background-tinted: #291d10;
  --ds-color-mandarin-surface-default: #342515;
  --ds-color-mandarin-surface-tinted: #3c2a18;
  --ds-color-mandarin-surface-hover: #46311b;
  --ds-color-mandarin-surface-active: #573e22;
  --ds-color-mandarin-border-subtle: #684a29;
  --ds-color-mandarin-border-default: #a87742;
  --ds-color-mandarin-border-strong: #da9b56;
  --ds-color-mandarin-text-subtle: #da9b56;
  --ds-color-mandarin-text-default: #f8eadb;
  --ds-color-mandarin-base-default: #673f00;
  --ds-color-mandarin-base-hover: #4e3000;
  --ds-color-mandarin-base-active: #362100;
  --ds-color-mandarin-base-contrast-subtle: #e9e3da;
  --ds-color-mandarin-base-contrast-default: #ffffff;
  --ds-color-info-background-default: #0e1a1c;
  --ds-color-info-background-tinted: #122225;
  --ds-color-info-surface-default: #172b2f;
  --ds-color-info-surface-tinted: #1a3136;
  --ds-color-info-surface-hover: #1e393f;
  --ds-color-info-surface-active: #26484f;
  --ds-color-info-border-subtle: #2d565e;
  --ds-color-info-border-default: #498a98;
  --ds-color-info-border-strong: #76b1bd;
  --ds-color-info-text-subtle: #76b1bd;
  --ds-color-info-text-default: #e2eff1;
  --ds-color-info-base-default: #0e6472;
  --ds-color-info-base-hover: #0b4f5a;
  --ds-color-info-base-active: #083c44;
  --ds-color-info-base-contrast-subtle: #f9fbfc;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-success-background-default: #0e1b10;
  --ds-color-success-background-tinted: #132315;
  --ds-color-success-surface-default: #182c1a;
  --ds-color-success-surface-tinted: #1b331e;
  --ds-color-success-surface-hover: #203b23;
  --ds-color-success-surface-active: #284b2c;
  --ds-color-success-border-subtle: #2f5934;
  --ds-color-success-border-default: #4c9054;
  --ds-color-success-border-strong: #7bb582;
  --ds-color-success-text-subtle: #7bb582;
  --ds-color-success-text-default: #e3efe5;
  --ds-color-success-base-default: #1a6b2c;
  --ds-color-success-base-hover: #145523;
  --ds-color-success-base-active: #10411b;
  --ds-color-success-base-contrast-subtle: #fcfdfd;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #1c170c;
  --ds-color-warning-background-tinted: #251f10;
  --ds-color-warning-surface-default: #2f2715;
  --ds-color-warning-surface-tinted: #362d18;
  --ds-color-warning-surface-hover: #3f341c;
  --ds-color-warning-surface-active: #4f4123;
  --ds-color-warning-border-subtle: #5e4e2a;
  --ds-color-warning-border-default: #987e43;
  --ds-color-warning-border-strong: #c6a357;
  --ds-color-warning-text-subtle: #c6a357;
  --ds-color-warning-text-default: #faebcb;
  --ds-color-warning-base-default: #392b02;
  --ds-color-warning-base-hover: #503c02;
  --ds-color-warning-base-active: #664d03;
  --ds-color-warning-base-contrast-subtle: #c6c2b6;
  --ds-color-warning-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #281112;
  --ds-color-danger-background-tinted: #341717;
  --ds-color-danger-surface-default: #421d1d;
  --ds-color-danger-surface-tinted: #4b2122;
  --ds-color-danger-surface-hover: #572627;
  --ds-color-danger-surface-active: #6d3031;
  --ds-color-danger-border-subtle: #82393a;
  --ds-color-danger-border-default: #c86264;
  --ds-color-danger-border-strong: #da9697;
  --ds-color-danger-text-subtle: #da9697;
  --ds-color-danger-text-default: #f7e9e9;
  --ds-color-danger-base-default: #dd3949;
  --ds-color-danger-base-hover: #e4626e;
  --ds-color-danger-base-active: #ea838d;
  --ds-color-danger-base-contrast-subtle: #050102;
  --ds-color-danger-base-contrast-default: #000000;
  --ds-color-focus-inner: #16181a;
  --ds-color-focus-outer: #ececed;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}

}

}

@layer ds.theme.typography.primary {
:root, [data-typography="primary"] {
  --ds-line-height-sm: 1.3;
  --ds-line-height-md: 1.5;
  --ds-line-height-lg: 1.7;
  --ds-letter-spacing-1: -0.01em;
  --ds-letter-spacing-2: -0.005em;
  --ds-letter-spacing-3: -0.0025em;
  --ds-letter-spacing-4: -0.0015em;
  --ds-letter-spacing-5: 0em;
  --ds-letter-spacing-6: 0.0015em;
  --ds-letter-spacing-7: 0.0025em;
  --ds-letter-spacing-8: 0.005em;
  --ds-letter-spacing-9: 0.015em;
  --ds-font-family: Inter;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-regular: 400;
  --ds-heading-2xl-font-weight: 500;
  --ds-heading-2xl-line-height: 1.3;
  --ds-heading-2xl-letter-spacing: -0.01em;
  --ds-heading-xl-font-weight: 500;
  --ds-heading-xl-line-height: 1.3;
  --ds-heading-xl-letter-spacing: -0.01em;
  --ds-heading-lg-font-weight: 500;
  --ds-heading-lg-line-height: 1.3;
  --ds-heading-lg-letter-spacing: -0.005em;
  --ds-heading-md-font-weight: 500;
  --ds-heading-md-line-height: 1.3;
  --ds-heading-md-letter-spacing: -0.0025em;
  --ds-heading-sm-font-weight: 500;
  --ds-heading-sm-line-height: 1.3;
  --ds-heading-sm-letter-spacing: 0em;
  --ds-heading-xs-font-weight: 500;
  --ds-heading-xs-line-height: 1.3;
  --ds-heading-xs-letter-spacing: 0.0015em;
  --ds-heading-2xs-font-weight: 500;
  --ds-heading-2xs-line-height: 1.3;
  --ds-heading-2xs-letter-spacing: 0.0015em;
  --ds-body-xl-font-weight: 400;
  --ds-body-xl-line-height: 1.5;
  --ds-body-xl-letter-spacing: 0.005em;
  --ds-body-lg-font-weight: 400;
  --ds-body-lg-line-height: 1.5;
  --ds-body-lg-letter-spacing: 0.005em;
  --ds-body-md-font-weight: 400;
  --ds-body-md-line-height: 1.5;
  --ds-body-md-letter-spacing: 0.005em;
  --ds-body-sm-font-weight: 400;
  --ds-body-sm-line-height: 1.5;
  --ds-body-sm-letter-spacing: 0.0025em;
  --ds-body-xs-font-weight: 400;
  --ds-body-xs-line-height: 1.5;
  --ds-body-xs-letter-spacing: 0.0015em;
  --ds-body-short-xl-font-weight: 400;
  --ds-body-short-xl-line-height: 1.3;
  --ds-body-short-xl-letter-spacing: 0.005em;
  --ds-body-short-lg-font-weight: 400;
  --ds-body-short-lg-line-height: 1.3;
  --ds-body-short-lg-letter-spacing: 0.005em;
  --ds-body-short-md-font-weight: 400;
  --ds-body-short-md-line-height: 1.3;
  --ds-body-short-md-letter-spacing: 0.005em;
  --ds-body-short-sm-font-weight: 400;
  --ds-body-short-sm-line-height: 1.3;
  --ds-body-short-sm-letter-spacing: 0.0025em;
  --ds-body-short-xs-font-weight: 400;
  --ds-body-short-xs-line-height: 1.3;
  --ds-body-short-xs-letter-spacing: 0.0015em;
  --ds-body-long-xl-font-weight: 400;
  --ds-body-long-xl-line-height: 1.7;
  --ds-body-long-xl-letter-spacing: 0.005em;
  --ds-body-long-lg-font-weight: 400;
  --ds-body-long-lg-line-height: 1.7;
  --ds-body-long-lg-letter-spacing: 0.005em;
  --ds-body-long-md-font-weight: 400;
  --ds-body-long-md-line-height: 1.7;
  --ds-body-long-md-letter-spacing: 0.005em;
  --ds-body-long-sm-font-weight: 400;
  --ds-body-long-sm-line-height: 1.7;
  --ds-body-long-sm-letter-spacing: 0.0025em;
  --ds-body-long-xs-font-weight: 400;
  --ds-body-long-xs-line-height: 1.7;
  --ds-body-long-xs-letter-spacing: 0.0015em;
}
}
@layer ds.theme.color {
[data-color="accent"], [data-color-scheme][data-color="accent"] {
  --ds-color-background-default: var(--ds-color-accent-background-default);
  --ds-color-background-tinted: var(--ds-color-accent-background-tinted);
  --ds-color-surface-default: var(--ds-color-accent-surface-default);
  --ds-color-surface-tinted: var(--ds-color-accent-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-accent-surface-hover);
  --ds-color-surface-active: var(--ds-color-accent-surface-active);
  --ds-color-border-subtle: var(--ds-color-accent-border-subtle);
  --ds-color-border-default: var(--ds-color-accent-border-default);
  --ds-color-border-strong: var(--ds-color-accent-border-strong);
  --ds-color-text-subtle: var(--ds-color-accent-text-subtle);
  --ds-color-text-default: var(--ds-color-accent-text-default);
  --ds-color-base-default: var(--ds-color-accent-base-default);
  --ds-color-base-hover: var(--ds-color-accent-base-hover);
  --ds-color-base-active: var(--ds-color-accent-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-accent-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-accent-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="danger"], [data-color-scheme][data-color="danger"] {
  --ds-color-background-default: var(--ds-color-danger-background-default);
  --ds-color-background-tinted: var(--ds-color-danger-background-tinted);
  --ds-color-surface-default: var(--ds-color-danger-surface-default);
  --ds-color-surface-tinted: var(--ds-color-danger-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-danger-surface-hover);
  --ds-color-surface-active: var(--ds-color-danger-surface-active);
  --ds-color-border-subtle: var(--ds-color-danger-border-subtle);
  --ds-color-border-default: var(--ds-color-danger-border-default);
  --ds-color-border-strong: var(--ds-color-danger-border-strong);
  --ds-color-text-subtle: var(--ds-color-danger-text-subtle);
  --ds-color-text-default: var(--ds-color-danger-text-default);
  --ds-color-base-default: var(--ds-color-danger-base-default);
  --ds-color-base-hover: var(--ds-color-danger-base-hover);
  --ds-color-base-active: var(--ds-color-danger-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-danger-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-danger-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="info"], [data-color-scheme][data-color="info"] {
  --ds-color-background-default: var(--ds-color-info-background-default);
  --ds-color-background-tinted: var(--ds-color-info-background-tinted);
  --ds-color-surface-default: var(--ds-color-info-surface-default);
  --ds-color-surface-tinted: var(--ds-color-info-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-info-surface-hover);
  --ds-color-surface-active: var(--ds-color-info-surface-active);
  --ds-color-border-subtle: var(--ds-color-info-border-subtle);
  --ds-color-border-default: var(--ds-color-info-border-default);
  --ds-color-border-strong: var(--ds-color-info-border-strong);
  --ds-color-text-subtle: var(--ds-color-info-text-subtle);
  --ds-color-text-default: var(--ds-color-info-text-default);
  --ds-color-base-default: var(--ds-color-info-base-default);
  --ds-color-base-hover: var(--ds-color-info-base-hover);
  --ds-color-base-active: var(--ds-color-info-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-info-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-info-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="mandarin"], [data-color-scheme][data-color="mandarin"] {
  --ds-color-background-default: var(--ds-color-mandarin-background-default);
  --ds-color-background-tinted: var(--ds-color-mandarin-background-tinted);
  --ds-color-surface-default: var(--ds-color-mandarin-surface-default);
  --ds-color-surface-tinted: var(--ds-color-mandarin-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-mandarin-surface-hover);
  --ds-color-surface-active: var(--ds-color-mandarin-surface-active);
  --ds-color-border-subtle: var(--ds-color-mandarin-border-subtle);
  --ds-color-border-default: var(--ds-color-mandarin-border-default);
  --ds-color-border-strong: var(--ds-color-mandarin-border-strong);
  --ds-color-text-subtle: var(--ds-color-mandarin-text-subtle);
  --ds-color-text-default: var(--ds-color-mandarin-text-default);
  --ds-color-base-default: var(--ds-color-mandarin-base-default);
  --ds-color-base-hover: var(--ds-color-mandarin-base-hover);
  --ds-color-base-active: var(--ds-color-mandarin-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-mandarin-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-mandarin-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="neutral"], [data-color-scheme][data-color="neutral"] {
  --ds-color-background-default: var(--ds-color-neutral-background-default);
  --ds-color-background-tinted: var(--ds-color-neutral-background-tinted);
  --ds-color-surface-default: var(--ds-color-neutral-surface-default);
  --ds-color-surface-tinted: var(--ds-color-neutral-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-neutral-surface-hover);
  --ds-color-surface-active: var(--ds-color-neutral-surface-active);
  --ds-color-border-subtle: var(--ds-color-neutral-border-subtle);
  --ds-color-border-default: var(--ds-color-neutral-border-default);
  --ds-color-border-strong: var(--ds-color-neutral-border-strong);
  --ds-color-text-subtle: var(--ds-color-neutral-text-subtle);
  --ds-color-text-default: var(--ds-color-neutral-text-default);
  --ds-color-base-default: var(--ds-color-neutral-base-default);
  --ds-color-base-hover: var(--ds-color-neutral-base-hover);
  --ds-color-base-active: var(--ds-color-neutral-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-neutral-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-neutral-base-contrast-default);
}

}

@layer ds.theme.color {
:root, [data-color-scheme], [data-color="primary"] {
  --ds-color-background-default: var(--ds-color-primary-background-default);
  --ds-color-background-tinted: var(--ds-color-primary-background-tinted);
  --ds-color-surface-default: var(--ds-color-primary-surface-default);
  --ds-color-surface-tinted: var(--ds-color-primary-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-primary-surface-hover);
  --ds-color-surface-active: var(--ds-color-primary-surface-active);
  --ds-color-border-subtle: var(--ds-color-primary-border-subtle);
  --ds-color-border-default: var(--ds-color-primary-border-default);
  --ds-color-border-strong: var(--ds-color-primary-border-strong);
  --ds-color-text-subtle: var(--ds-color-primary-text-subtle);
  --ds-color-text-default: var(--ds-color-primary-text-default);
  --ds-color-base-default: var(--ds-color-primary-base-default);
  --ds-color-base-hover: var(--ds-color-primary-base-hover);
  --ds-color-base-active: var(--ds-color-primary-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-primary-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-primary-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="success"], [data-color-scheme][data-color="success"] {
  --ds-color-background-default: var(--ds-color-success-background-default);
  --ds-color-background-tinted: var(--ds-color-success-background-tinted);
  --ds-color-surface-default: var(--ds-color-success-surface-default);
  --ds-color-surface-tinted: var(--ds-color-success-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-success-surface-hover);
  --ds-color-surface-active: var(--ds-color-success-surface-active);
  --ds-color-border-subtle: var(--ds-color-success-border-subtle);
  --ds-color-border-default: var(--ds-color-success-border-default);
  --ds-color-border-strong: var(--ds-color-success-border-strong);
  --ds-color-text-subtle: var(--ds-color-success-text-subtle);
  --ds-color-text-default: var(--ds-color-success-text-default);
  --ds-color-base-default: var(--ds-color-success-base-default);
  --ds-color-base-hover: var(--ds-color-success-base-hover);
  --ds-color-base-active: var(--ds-color-success-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-success-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-success-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="warning"], [data-color-scheme][data-color="warning"] {
  --ds-color-background-default: var(--ds-color-warning-background-default);
  --ds-color-background-tinted: var(--ds-color-warning-background-tinted);
  --ds-color-surface-default: var(--ds-color-warning-surface-default);
  --ds-color-surface-tinted: var(--ds-color-warning-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-warning-surface-hover);
  --ds-color-surface-active: var(--ds-color-warning-surface-active);
  --ds-color-border-subtle: var(--ds-color-warning-border-subtle);
  --ds-color-border-default: var(--ds-color-warning-border-default);
  --ds-color-border-strong: var(--ds-color-warning-border-strong);
  --ds-color-text-subtle: var(--ds-color-warning-text-subtle);
  --ds-color-text-default: var(--ds-color-warning-text-default);
  --ds-color-base-default: var(--ds-color-warning-base-default);
  --ds-color-base-hover: var(--ds-color-warning-base-hover);
  --ds-color-base-active: var(--ds-color-warning-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-warning-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-warning-base-contrast-default);
}

}
